body {
  background-color: #007bff !important;
  color: rgb(227, 230, 223);
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: black;
}

.video-list__item {
  display: block;
  margin: 0 1em 1em 0;
  padding: 1em;
  border-radius: 1em;
  background-color: #f8f9fa;
}

.header {
  display: flex;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:hover {
  text-decoration: none;
  color: rgb(90, 90, 94);
}

.my_videos {
  color: #c6c8ee;
}
.push_videos {
  color: #c6c8ee;
}
.like-button {
  color: red;
  height: 50px;
  width: 50px;
  font-size: 13px;
}
.dislike-button {
  color: green;
  height: 50px;
  width: 50px;
  font-size: 13px;
  top: 10px;
}
.videos_logo {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.my_video {
  width: auto;
  height: auto;
  background-color: rgb(227, 230, 223, 0.3);
  border-radius: 2px;
  top: -10px;
  position: relative;
}
.header__auth {
  padding: 8px;
  height: 90px;
  width: 230px;
  justify-content: center;
  align-items: center;
  background-color: rgba(227, 230, 223, 0.3);
  border-radius: 14px;
  /* #byNiyaz */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header__logo {
  justify-content: center;
  align-items: center;
}
