{% extends 'main/layout.html' %}

{% block title %}
    Регистрация - BebraTube
{% endblock title %}

{% block content %}
    <h2>Вход в систему</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
    </form>
{% endblock content %}