{% extends 'main/layout.html' %}

{% block title %}
    Регистрация - BebraTube
{% endblock title %}

{% block content %}
    <h2>Регистрация - BebraTube</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зарегистрируйтесь</button>
    </form>
{% endblock content %}