{% extends 'main/layout.html' %}

{% block title %}
    Главная - BebraTube
 {% endblock %}

 {% block content %}
   <ul class="video-list">
      {% for v in videos %}
      <li class="video-list__item">
         <h2><a href="url 'main' v.id %}">{{v.name}}</a></h2>
         <p>{{v.describtion}}</p>
         <p><strong>Дата загрузки: </strong>{{v.created_datetime}}</p>
         <p>Like<strong>{{main.likes}}</strong></p>
         <p>Dislike<strong>{{main.dislikes}}</strong></p>
      </li>
      {% empty %}
         <li>Технгические шоколадки, видео скоро появится =D</li>
      {% endfor %}
   </ul>
 {% endblock content %}