{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
</head>
<body>
    <header class="header">
        <!-- <a class="header__logo" href="/" title="На главную">BebraTube</a> -->
            <div class="header__auth">
                {% if user.is_authenticated %}
                    Вы вошли как&nbsp;<strong>{{user.username}}</strong>&nbsp;(<a href="{% url 'logout' %}">Выйти</a>)
                    <ul>
                        <li class="my_videos"><a href="{% url 'user_videos' %}">Мои видео</a></li>
                        <li class="push_videos"><a href="{% url 'upload_video' %}">Загрузить видео</a></li>
                    </ul>
                {% else %}
                    Вы не вошли в систему
                    (<a href="{% url 'login' %}">Войдите</a>
                    или
                    <a href="{% url 'signup' %}">Зарегистрируйтесь</a>)
                {% endif %}
            </div>
    </header>
    <hr />
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <hr />
    </footer>
</body>
</html>