{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
    Мои Видео - MyTube
{% endblock title %}

{% block content %}
    <div class="videos_logo">
        <h2 class="my_video">Мои Видео</h2> 
    </div>
    <ul class="video-list">
        {% for v in videos %}
            <li class="video-list__item">
                <h2><a href="{% url 'video' v.id %}">{{v.name}}</a></h2> 
                <p>{{v.describtion}}</p>
                <p><strong>Дата загрузки</strong> {{v.created_datetime}}</p> 
                <p> Like <strong>({{video.likes}})</strong></p> 
                <p> Dislike <strong>({{video.dislikes}})</strong></p>
            </li>
        {% empty %}
            <li>У вас нет загруженных видео</li> <li><a href="{% url 'upload_video' %}">Загрузите что-нибудь</a></li>
        {% endfor %}
    </ul>
{% endblock content %}